@()(implicit session: play.api.mvc.Session)

@main("Getting Started") {
    <div id="wrapper3">
        <div id="portfolio" class="container">
            <div class="title">
                <h2>Lets Get Started</h2>
                <span class="byline">So I want to deploy and keep track of applications</span> </div>
            <div class="column1">
                <div class="box">
                    <span class="icon icon-wrench"></span>
                    <h3>Getting the tools sorted</h3>
                    <p>Let's first setup our deployment platform. Jenkins or TeamCity?</p>
                    <a href="#" class="button button-small">Make it possible</a> </div>
            </div>
            <div class="column2">
                <div class="box">
                    <span class="icon icon-trophy"></span>
                    <h3>Check it all works</h3>
                    <p>How to run a quick sanity check to make sure we're happy.</p>
                    <a href="#" class="button button-small">It's good!</a> </div>
            </div>
            <div class="column3">
                <div class="box">
                    <span class="icon icon-key"></span>
                    <h3>Hand me the keys</h3>
                    <p>Let's give the Delorean all that it needs to talk shop.</p>
                    <a href="#" class="button button-small">This is great!</a> </div>
            </div>
            <div class="column4">
                <div class="box">
                    <span class="icon icon-lock"></span>
                    <h3>Setup The users</h3>
                    <p>We don't Joe Blow who's not in the know firing off deploys.</p>
                    <a href="#" class="button button-small">It works! It works!</a> </div>
            </div>
        </div>
    </div>
}